@media (max-width:1050px){
   
    .header-contents{
        max-width: 45%;
    }
}
@media (max-width:750px){
    
    .header-contents{
        max-width: 65%;
    }
    .header-contents p{
        display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
        font-size: 2vw;
    }
}